.contacts-window{
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    gap:2vh;
}

.contact {
    color:white;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1.5vw;
}

.contact img{
    width: 3vw;
}