*{
  margin: 0;
  padding: 0;
  font-family: "Rim";
  user-select: none;
}

.App{
  background-color: rgb(68, 68, 68);
  min-height: 100vh;
}

@font-face {
  font-family: 'Rim';
  src: url('./fonts/RimWorldFont.ttf');
}

.copyright{
  color: white;
  bottom: 0;
  right: 0;
  position:absolute;
  font-size: 0.8vw;
}

.active{
  display: block;
}

.inactive{
  display: none;
}

a{
  text-decoration: none;
  color: white;
}